<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>package</title>
  </head>
  <body>
    <h1>Enter Package Information</h1>

    <form action="/items" method="post">
      <label for="height">Enter Height</label>
      <input id="height" name="height" type="text">
      <label for="length">Enter Lenght</label>
      <input id="length" name="length" type="text">
      <label for="width">Enter width</label>
      <input id="width" name="width" type="text">
      <label for="weight">Enter Weight</label>
      <input id="weight" name="weight" type="text">
      <button type="submit">Submit</button>
    </form>

  </body>
</html>
